/********************************
    Author  :   Jimmy Cleveland
    Site    :   Portfolio
   ____________________________
    
    Colors{
        Orange  : #FF7F00;
        NavGray : #1D1D1D;
    }      
********************************/

html, body{
    margin: 0;
    padding: 0px;
    background-image: url('Crosshatch 2.png');
    color: #555555;
    height: 100%;    
}
h2
{
    font-family: 'Share Tech', sans-serif;
    font-size: 26px;
    color: #7e7e7e;
    font-weight: normal;
    text-shadow: 2px 2px 3px #1c1c1c;
}
p
{
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #aaaaaa;
}

.header, .footer
{
    background-color: rgba(33, 33, 33, .85);
    height: 90px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 5;
}
.header
{
    width: 100%;
    border-bottom: 3px solid #FF7F00;
    top: 0;
}

.footer
{
    bottom: 0;
}
.nav-links li
{
    list-style-type: none;
    display: inline;
    margin-left: 50px;
    cursor: pointer;
}
.nav-links li.active
{
    color:  #FF7F00;
}
.nav-links
{
    font-family: 'Share Tech', sans-serif;
    font-size: 26px;
    padding-top: 20px;
}

#container
{
    position: fixed;
    top: 93px;
    bottom: 91px;
    left: 0;
    right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
    min-height: 600px;  /* Height of panel-wrapper */
}

.panel-wrapper
{
    position: absolute;
    left: 0;
    top: 50%;
    width: 9000px;
    height: 600px;
    margin-top: -300px;
}

.section
{
   float: left;
   width: 960px;
   margin-left: 50px;
}

.panel
{
    width: 940px;
    height: 600px;
    background-image: url('container.png');
}
.image-panel
{
    position: relative;
    float: left;
    padding: 10px;
    width: 580px;
    /*background-color: #272727;*/
}
.side-panel-top
{
    position: relative;
    float: left;
    padding: 0px 15px;
    width: 300px;
    height: 420px;
    /*background-color: #363636;*/
}
.side-panel-bottom
{
    position: relative;
    float: left;
    margin-left: 10px;
    height: 110px;
    width: 310px;
    padding: 65px 5px 10px;
    /*background-color: #1F1F1F;*/
}

.portfolio-link
{
    float: left;
    height: 25px;
    width: 150px;
    padding: 5px;
    background-color: #1D1D1D;
    color: #d56c04;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    margin-left: 65px;
    margin-top: 10px;
}
.tag
{
    background-color: #FF7F00;
    float: left;
    color: black;
    height: 15px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Share Tech', sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: central;
}

tr
{
    height: 500px;
}
td
{
    padding-right: 100px;
}
.portfolio-panel
{
    height: 500px;
    width: 700px;
    background-color: #353535;
}


::-webkit-scrollbar {
 width: 10px;
 height: 2px;
 z-index: 6;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
 display: none;
}
::-webkit-scrollbar-track-piece  {
 background-color: #222222;
}
::-webkit-scrollbar-thumb:horizontal {
 background: #FF7F00;
}