/********************************
    Author  :   Jimmy Cleveland
    Site    :   Portfolio
   ____________________________
    
    Colors{
        Orange  : #FF7F00;
        NavGray : #1D1D1D;
    }      
********************************/

html, body{
    margin: 0;
    padding: 0px;
    background-image: url('Crosshatch 2.png');
    color: #555555;
    height: 100%;
}

.header
{
    width: 100%;
    height: 90px;
    background-color: #1D1D1D;
    border-bottom: 3px solid #FF7F00;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 5;
}

.footer
{
    height: 90px;
    background-color: #1D1D1D;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}
.nav-links li
{
    list-style-type: none;
    display: inline;
    margin-left: 50px;
    cursor: pointer;
}
.nav-links li.active
{
    color:  #FF7F00;
}
.nav-links
{
    font-family: 'OCR A';
    font-size: 26px;
    padding-top: 20px;
}

#container
{
    position: fixed;
    top: 93px;
    bottom: 91px;
    left: 0;
    right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
    min-height: 500px;
}

.panel-wrapper
{
    position: absolute;
    left: 0;
    top: 50%;
    width: 3000px;
    height: 500px;
    margin-top: -250px;
    border: solid white 2px;
}

.panel
{
    float: left;
    padding: 10px;
    width: 900px;
    border: solid red 1px;
}

table
{
    border: 1px solid white;
}
tr
{
    height: 500px;
}
td
{
    padding-right: 100px;
}
.portfolio-panel
{
    height: 500px;
    width: 700px;
    background-color: #353535;
}


::-webkit-scrollbar {
 width: 10px;
 height: 1px;
 z-index: 6;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
 display: none;
}
::-webkit-scrollbar-track-piece  {
 background-color: #222222;
}
::-webkit-scrollbar-thumb:horizontal {
 background: #FF7F00;
}